<div class="jumbotron text-center">
    <h1>Projects</h1>

    <div
        class="contact-list-item"
        ng-repeat="project in projectsCtrl.projects">
        <h2>{{ project.name }} ({{project.technologies.join(', ')}})</h2>
        <div>
            Github &mdash; <a href="{{ project.github_url }}" target="_blank">{{ project.github_url }}</a>
        </div>
        <div
            ng-repeat="demo in project.demos track by demo.url">
            {{ demo.name }} &mdash; <a href="{{ demo.url }}" target="_blank">Click here to see demo</a>
        </div>
    </div>
</div>
