@import "variables";

.navbar-nav > li > a span {
    padding: 2px;
}

.navbar-default .navbar-nav > .active > a {
    background-color: transparent !important;
}
.navbar-default .navbar-nav > .active > a span {
    color: #333;
    border-bottom: 2px solid $orange;
}
